<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>Rainbow Drums</title>
  <script src="https://kit.fontawesome.com/18707c3622.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <h1>Rainbow Drums</h1>
  <div class="set-container">
    <div class=row-one>
      <button class="crash drum d1"></button>
      <button class="kick-bass drum d1"></button>
      <button class="snare drum d1"></button>
      <button class="tom-1 drum d1"></button>
      <button class="tom-2 drum d1"></button>
      <button class="tom-3 drum d1"></button>
      <button class="tom-4 drum d1"></button>
    </div>
    <div class=row-two>
      <button class="crash drum d2"></button>
      <button class="kick-bass drum d2"></button>
      <button class="snare drum d2"></button>
      <button class="tom-1 drum d2"></button>
      <button class="tom-2 drum d2"></button>
      <button class="tom-3 drum d2"></button>
      <button class="tom-4 drum d2"></button>
    </div>
    <div class=row-three>
      <button class="crash drum d3"></button>
      <button class="kick-bass drum d3"></button>
      <button class="snare drum d3"></button>
      <button class="tom-1 drum d3"></button>
      <button class="tom-2 drum d3"></button>
      <button class="tom-3 drum d3"></button>
      <button class="tom-4 drum d3"></button>
    </div>
    <div class=row-four>
      <button class="crash drum d4"></button>
      <button class="kick-bass drum d4"></button>
      <button class="snare drum d4"></button>
      <button class="tom-1 drum d4"></button>
      <button class="tom-2 drum d4"></button>
      <button class="tom-3 drum d4"></button>
      <button class="tom-4 drum d4"></button>
    </div>
    <div class=fow-five>
      <button class="crash drum d5"></button>
      <button class="kick-bass drum d5"></button>
      <button class="snare drum d5"></button>
      <button class="tom-1 drum d5"></button>
      <button class="tom-2 drum d5"></button>
      <button class="tom-3 drum d5"></button>
      <button class="tom-4 drum d5"></button>
    </div>
    <div class=raw-six>
      <button class="crash drum d6"></button>
      <button class="kick-bass drum d6"></button>
      <button class="snare drum d6"></button>
      <button class="tom-1 drum d6"></button>
      <button class="tom-2 drum d6"></button>
      <button class="tom-3 drum d6"></button>
      <button class="tom-4 drum d6"></button>
    </div>
    <div class=raw-seven>
      <button class="crash drum d7"></button>
      <button class="kick-bass drum d7"></button>
      <button class="snare drum d7"></button>
      <button class="tom-1 drum d7"></button>
      <button class="tom-2 drum d7"></button>
      <button class="tom-3 drum d7"></button>
      <button class="tom-4 drum d7"></button>
    </div>
  </div>
  <div class=ui-container>
    <div class="play-container">
      <div class="tempo">
        <input type="range" class="tempo-slider" max="350" min="50" value="150">
        <p>Tempo (bmp): <span class="tempo-value"> 150</span></p>
      </div>
      <i class="far fa-play-circle fa-3x play" style="color:#bebbbb;"></i>
      <div class="volume">
        <input type="range" class="volume-slider" max="1" min="0" step="0.1" value="0.2">
        <p>Volume (gain): <span class=" volume-value"> 20%</span></p>
      </div>
    </div>
  </div>
  <script src="index.js" charset="UTF-8"></script>
  <footer>
  </footer>
</body>
</html>